html * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
body {
	background-color: #262626;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	scale: 1;
}

i {
	position: relative;
	display: flex;
	object-fit: contain;
	width: 100%;
	height: 100%;
	/* max-width: 1080px; */
	max-width: 1440px;
	max-height: 2400px;
	overflow: hidden;
	border-radius: 5px;
	pointer-events: all;
}

i:before, i:after {
	content: '⥪';
	position: absolute;
	top: 50%;
	left: 1rem;
	z-index: 2;
	width: 2rem;
	height: 2rem;
	background: dodgerblue;
	color: white;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
}

i:after {
	content: '⥭';
	left: auto;
	right: 1rem;
}

/* I haven't found a way for IE and Edge to let me style inputs that way */
input {
	-moz-appearance: none;
	     appearance: none;
	-ms-appearance: none;
	-webkit-appearance: none;
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 5px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	transform: translateX(100%);
	transition: transform ease-in-out 400ms;
	z-index: 1;
}

input:focus {
	outline: none;
}

input:after {
	content: attr(title);
	position: absolute;
	top: 1rem;
	left: 2rem;
	background-color: rgba(0,0,0,0.4);
	color: white;
	padding: .5rem;
	font-size: 1.5rem;
	border-radius: 5px;
}

input:not(checked):before {
	content: '';
	position: absolute;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	top: 50%;
	left: calc(-100% + 1rem);
}

input:checked:before {
	display: none;
	left: 1rem;
}

input:checked {
	transform: translateX(0);
	pointer-event: none;
	z-index: 0;
	box-shadow: -5px 10px 20px -15px rgba(0,0,0,1);
}

input:checked + input:before {
	left: -3rem;
}

input:checked + input ~ input:before {
	display: none;
}

.navbar {
	overflow: hidden;
	background-color: #333;
	position: fixed; /* Set the navbar to fixed position */
	top: 10%; /* Position the navbar at the top of the page */
	width: 100%; /* Full width */
}

@media only screen and (max-width: 991px) {
	body {
		background-color: #f0e3e3;
		height: 97vh;
	}

	i:before, i:after {
		content: '⥪';
		position: absolute;
		top: 85%;
		left: 10rem;
		z-index: 2;
		width: 16rem;
		height: 16rem;
		background: rgb(111, 188, 255);
		color: white;
		border-radius: 50px 50px 50px 50px;
		display: flex;
		font-size: 70px;
	}
	
	i:after {
		content: '⥭';
		left: auto;
		right: 10rem;
		font-size: 70px;
	}

	input:after {
		content: attr(title);
		position: absolute;
		top: 10%;
		left: 3rem;
		background-color: rgba(0,0,0,0.4);
		color: white;
		padding: .5rem;
		font-size: 3rem;
		border-radius: 5px;
	}

	
	input:not(checked):before {
		content: '';
		position: absolute;
		width: 16rem;
		height: 16rem;
		border-radius: 50%;
		top: 85%;
		right: 10rem;
		left: calc(-100% + 10rem);
	}

	input:checked:before {
		display: none;
		left: 10rem;
	}

	input:checked {
		transform: translateX(0);
		pointer-event: none;
		z-index: 0;
		box-shadow: -5px 10px 20px -15px rgba(0,0,0,1);
	}

	input:checked + input:before {
		left: -26rem;
	}

	input:checked + input ~ input:before {
		display: none;
	}

	.navbar {
		overflow: hidden;
		background-color: #f0e3e3;
		position: fixed; /* Set the navbar to fixed position */
		top: 6%; /* Position the navbar at the top of the page */
		width: 100%; /* Full width */
		margin-left: 50%;
	}
}



/* @media only screen and (max-width: 870px) {
	body {
		background-color: #f0e3e3;
	}
	input::after {
		top: 30px;
		font-size: 1rem;
	}

	i:before, i:after {
		content: '⥪';
		position: absolute;
		top: 85%;
		left: 10%;
		z-index: 2;
		width: 25%;
		height: 20%;
		background: rgb(111, 188, 255);
		color: white;
		border-radius: 50px 50px 50px 50px;
		display: flex;
		font-size: 70px;
	}

	i:after {
		content: '⥭';
		left: auto;
		right: 10%;
		font-size: 70px;
	}
	input::before {
		left: 10%;
	}
} */
